@{
    Layout = "_Layout";
}
@model UserChangePassword
<h1>
    Change Your Password
</h1>

<form asp-action="changepassword" asp-controller="Account" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="CurrentPassword" class="form-label"></label>
        <input asp-for="CurrentPassword" class="form-control">
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control">
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <button type="submit" class="btn btn-primary">Change Password</button>
        <a class="nav-link" asp-action="index" asp-controller="home">Go Back to Home</a>
    </div>
</form>
