@{
    Layout = "_Layout";
}

<h1>
        Welcome Back 
</h1>

<form class="">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Password</label>
        <input class="form-control" id="exampleFormControlTextarea1" type="password">
    </div>

    <a asp-action="index" asp-controller="Home" >Back To Home</a>
</form>
