@{
    Layout = "_Layout";
}
@model UserLoginViewModel
<h1>
        Welcome Back 
</h1>

<form asp-action="Login" asp-controller="Account" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="LoginMethod" class="form-label"></label>
        <input asp-for="LoginMethod" class="form-control">
        <span asp-validation-for="LoginMethod" class="text-danger"></span>
    </div>
  
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="RemeberMe" class="form-label"></label>
        <input asp-for="RemeberMe" class="form-check">
    </div>
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="d-flex justify-content-between align-items-center">
        <button type="submit" class="btn btn-primary">LogIn</button>
        <a class="nav-link" asp-action="register" asp-controller="account">Create Account !!!</a>
        <a class="nav-link" asp-action="GetResetPasswordCode" asp-controller="account">Reset Password !!!</a>
    </div>
</form>
