@{
    Layout = "_Layout";
}
@model UserResetPasswordViewModel
<h1>
    Welcome Back
</h1>

<form asp-action="resetpassword" asp-controller="Account" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Code" class="form-label"></label>
        <input asp-for="Code" class="form-control">
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control">
        <span asp-validation-for="NewPassword" class="text-danger"></span>

    </div>
    <div class="d-flex justify-content-between align-items-center">
        <button type="submit" class="btn btn-primary">Verfiy</button>
        <a class="nav-link" asp-action="register" asp-controller="account">Create Account !!!</a>
    </div>
</form>
