@{
    ViewData["Title"] = "Home Page";
    var x = 3;
    Layout = "_Userlayout";
}
@section HeadSection {
    <link rel="stylesheet" href="./css/bookStyle.css" />

}
@section Scripts {
     @* <script>
         alert("Page")
     </script> *@
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
