@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Userlayout";

    string msg = "Sorry Our Web Site is still under mentaines";
}
<h1>@ViewData["Title"]</h1>
<h3>@msg</h3>
<p>Use this page to detail your site's privacy policy.</p>
